.main {
  background: linear-gradient(rgba(0, 0, 0, 0.001), rgba(0, 0, 0, 0.001)),
    url(../media/palokunta_image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 71vh;
  background-size: cover;
}
.palokunta-about-us h2 {
  padding-top: 40px;
  text-align: center;
}
.palokunta-about-us p {
  text-align: center;
  padding-top: 15px;
}
.palokunta-about-us {
  padding-bottom: 20px;
}
/**/
/**/
/**/
